<div id="tabscontent">
        <div id="tabContent1" class="tabContent" style="display:none;">
                <div id="truck">
                    <label for="title">give this truck a name</label>
                    <%= text_field 'truck', 'title' %>
                    <div class="floatLeft">
                        <label for="year">year</label> 
                        <%= select_year(@truck.year, :prefix=>'truck', :start_year => Time.now.year + 1, :end_year => 1917) %>
                    </div>
                    <div class="floatLeft">
                        <label for="make">make</label>
                        <% if @truck.model != nil -%>
                        <select id="makes" name="makes"><%= options_for_select(@makes.sort, @truck.model.parent_id) %></select>
                        <% else -%>
                        <select id="makes" name="makes"><%= options_for_select(@makes.sort) %></select>
                        <% end -%>
                    </div>
                    
                    <div class="floatLeft">
                        <label for="make">model</label>
                        <div id="div_model">
                        <% if @models != nil -%>
                            <%= collection_select('truck', "model_id" , @models, "id", "name") %>
                        <% else -%>    
                            <select id="model_id" disabled="true"><option value="-1">----&nbsp;</option></select>
                        <% end -%>    
                        </div>
                        <div id="model_other">
                        <label for="model_other">model other</label>
                        <%= text_field 'truck', 'model_other' %>
                        </div>
                    </div>
                    <div class="clear">
                    
                    
                    <label for="mileage">mileage</label>
                    <%= text_field 'truck', 'mileage' %>
                    
                    <label for="street_legal">street legal</label>
                    <%= check_box 'truck', 'street_legal'  %>
                    
                    <label for="public">public</label>
                    <%= check_box 'truck', 'public' %>                     
                    
                    <label for="additional_comments">comments</label>
                    <%= text_area 'truck', 'additional_comments' %>
                                       
                    </div>
                </div>
        </div>
        <div id="tabContent2" class="tabContent" style="display:none;">
            <div id="drivetrain">
            <label for="engine">engine</label>
            <%= collection_select('truck', "engine_id" , Engine.find(:all, :order => "name"), "id", "name") %>
            
            <label for="engine_comments">engine comments</label>
            <%= text_field 'truck', 'engine_comments' %>
            
            <label for="drive">drive</label>
            <%= collection_select('truck', "drive_id" , Drive.find(:all, :order => "name"), "id", "name") %>
            
            
            <label for="drive_comments">drive comments</label>
            <%= text_field 'truck', 'drive_comments' %>
            
            <label for="transmission">transmission</label>
            <%= collection_select('truck', "transmission_id" , Transmission.find(:all, :order => "name"), "id", "name") %>
            
            <label for="transmission_comments">transmission comments</label>
            <%= text_field 'truck', 'transmission_comments' %>
            </div>
        </div>

        <div id="tabContent3" class="tabContent" style="display:none;">
            <div id="features">
            <label for="doors">number of doors</label>
            <%= text_field 'truck', 'doors' %>
            
            <label for="ext_color_id">exterior color</label>
            <%= collection_select('truck', 'ext_color_id' , @colors, 'id', 'name', {:prompt => true}) %>
            
            <label for="ext_color_comments">exterior color comments</label>
            <%= text_field 'truck', 'ext_color_comments' %>
            
            <label for="int_color_id">interior color</label>
            <%= collection_select('truck', 'int_color_id' , @colors, 'id', 'name', {:prompt => true}) %>
            
            <label for="int_color_comments">interior color comments</label>
            <%= text_field 'truck', 'int_color_comments' %>
            
            <label for="truck_condition">condition</label>
            <%= collection_select('truck', "condition_id" , Condition.find(:all), "id", "name") %>
            
            
            <label for="vehicle_condition_comments">vehicle condition comments</label>
            <%= text_field 'truck', 'vehicle_condition_comments' %>
            </div>
        </div>

        <div id="tabContent4" class="tabContent" style="display:none;">
            <div id="forSale">
            <label for="for_sale">for sale</label>
            <%= check_box 'truck', 'for_sale' %>
            
            <label for="price">price</label>
            $<%= text_field 'truck', 'price' %>
            
            <label for="zip">zip code</label>
            <%= text_field 'truck', 'zip' %>            
            </div>
        </div>

</div><!--End of tabscontent-->
<div id="tabs">
    <ul>
        <li id="tabHeader1" class="currenttab"><a href="javascript:void(0)" onClick="toggleTab(1,4,'',false)">Main</a></li>
        <li id="tabHeader2"><a href="javascript:void(0)" onClick="toggleTab(2,4,'',false)" >Drivetrain</a></li>
        <li id="tabHeader3"><a href="javascript:void(0)" onclick="toggleTab(3,4,'',false)">Interior/Exterior</a></li>
        <li id="tabHeader4"><a href="javascript:void(0)" onClick="toggleTab(4,4,'',false)">For Sale</a></li>
    </ul>
</div>
<div class="clear"></div>
<script type="text/javascript">
toggleTab(1,4)
</script>

<%= observe_field("makes", :frequency => 0.25, :update => "div_model", :url => { :controller => "models" }, :with => "make_id") %>