<div>
  <h1>My Trucks</h1>
<% if @trucks.blank? %>
    <p>There are no trucks in your garage</p>
<% else %>
 <ul>               
<% for truck in @trucks %>
    <li>
      <% if truck.photos[0].nil? %>
            <%= link_to (image_tag "/images/logo_mobile.png"), truck %>
        <% else %>
            <%= link_to (image_tag truck.photos[0].public_filename(:thumb)), truck %>
        <% end %>
        <strong><%= link_to truck.title, truck %></strong>
        <small><%= link_to 'Edit', edit_truck_path(truck) %></small> |
        <small><%= link_to 'Destroy', truck, :confirm => 'Are you sure?', :method => :delete %></small>

    </li>
<% end %>
</ul>
<% end %>
</div>

<br />

<%= link_to 'New truck', new_truck_path %>