<div style="float:left; width:100%; text-align:left; margin:0 auto; ">
    <h1>search truck results</h1>
    <% if @trucks.nil? %>
    <p>Your shit is retarded</p>
    <% else %>
    <div id="results-container">
        <div id="results-header" style="margin: 5px; 0 0 0; font-weight: bold; height: 25px;">
            <div style="float:left; width: 75px;">
                Photo
            </div>
            <div>
                <div style="float:left; padding:0 0 0 5px; width: 70px;">
                    Make
                </div>
                <div style="float:left; width: 70px;">
                    Model
                </div>
                <div style="float:left; width: 70px;">
                    Year
                </div>
                <div style="float:left; width: 70px;">
                    Owner
                </div>
            </div>
        </div>        
        <% for truck in @trucks %>
            <div style="margin: 5px; 0 0 0; clear: both; overflow: auto; width: 100%">
                <div style="float:left;">
                    <% if truck.photos[0].nil? %>
                        <%= image_tag "/images/noimage.gif" %>
                    <% else %>
                        <%= image_tag truck.photos[0].public_filename(:thumb) %>
                    <% end %>
                </div>
                <div style="float: left; width: 90%;">
                    <div style="float: left; width: 100%;">
                        <div style="float:left; padding:0 0 0 5px; width: 70px;">
                            <%= truck.model.make.name %>
                        </div>
                        <div style="float:left; width: 70px;">
                            <%= truck.model.name %>
                        </div>
                        <div style="float:left; width: 70px;">
                            <% if truck.year.blank? %>
                                ????
                            <% else %>
                                <%= truck.year %>
                            <% end %>
                        </div>
                        <div style="float:left; width: 70px;">
                            <%= truck.user.login %>
                        </div>
                        <div style="clear: both; padding: 10px 0 0 5px;">
                            <%= truck.additional_comments %>
                        </div>
                                            
                    </div>
                </div>


            </div>
        <% end %>
    </div>
    <% end #end if
    %>
</div>