<div style="float:left; width:33%; text-align:left; margin:0 auto; ">
    <h1>search truck results</h1>
    <table>
    <% for truck in @trucks %>
        <tr>
        <td rowspan="2">
            <div>
              <%= image_tag truck.photos[0].public_filename(:thumb) unless truck.photos[0].nil? %>
            </div>
        </td>
        <td><%= truck.model.make.name %></td>
        <td><%= truck.model.name %></td>
        <td><%= truck.year %></td> 
        <td><%= truck.user.login %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="6">
          <p>
            <%= truck.additional_comments %>
          </p>
        </td>
      </tr>
    <% end %>
    </table>
</div>