<h1>Editing truck</h1>

<%= error_messages_for :truck %>

<% form_for(@truck, :html => { :multipart => true }) do |f| %>
  <p>
    <%= render :partial => 'form' %>
    <div><%= file_field_tag :truck_photo_data %></div>
    <div><%= f.submit "Update" %></div>
  </p>
<% end %>
<%= link_to 'Show', @truck %> |
<%= link_to 'Back', trucks_path %>
