<h1>New truck</h1>

<%= error_messages_for :truck %>

<% form_for(@truck) do |f| %>
  <p>
    <%= render :partial => 'form' %>
    <br />
    <%= f.submit "Create" %>
  </p>
<% end %>
<%= observe_field("makes", :frequency => 0.25, :update => "div_model", :url => { :action => "update_models" }) %>
<%= link_to 'Back', trucks_path %>
