<h1><%= @truck.title %> </h1>
<div id="info">
<h2><%= @truck.year %> <%= @truck.model.make.name %> <%= @truck.model.name %> <%= @truck.model_other %></h2>
<p><strong>Condition:</strong> <%= @truck.condition.name %> <%= @truck.vehicle_condition_comments %><br />
<% if !@truck.mileage.blank? %><strong>Mileage:</strong> <%= @truck.mileage %><br /><% end %>
<strong>Engine:</strong> <%= @truck.engine.name %> <%= @truck.engine_comments %><br />
<strong>Drive:</strong> <%= @truck.drive.name %> <%= @truck.drive_comments %><br />
<strong>Transmission:</strong> <%= @truck.transmission.name %> <%= @truck.transmission_comments %><br />
<% if !@truck.doors.blank? %><strong>Number of Doors:</strong> <%= @truck.doors %><br /><% end %>
<% if !@truck.ext_color_comments.blank? %><strong>Exterior Color:</strong> <%= @truck.ext_color_comments %><br /><% end %>
<% if !@truck.int_color_comments.blank? %><strong>Interior Color:</strong> <%= @truck.int_color_comments %><br /><% end %>
<p><%= @truck.additional_comments %></p>
<br />
<div id="projects">
<h3><%= link_to "Projects", truck_projects_path(@truck) %></h3>
    <% if @truck.projects.blank? %>
    <p>No projects.</p>
    <% else %>
        <% @truck.projects.each do |p| %>
        <p><strong><%= h p.title %></strong></p>
        <% end %>
    <% end %>
</div>
<div id="service_logs">
<h3><%= link_to "Service Logs", truck_service_logs_path(@truck) %></h3>
    <% if @truck.service_logs.blank? %>
    <p>No service logs.</p>
    <% else %>
        <% @truck.service_logs.each do |log| %>
        <p><strong><%= h "#{log.service_log_type} (#{log.created_at})" %></strong></p>
        <% end %>
    <% end %>
</div>
</div>

<%= link_to 'Edit', edit_truck_path(@truck) %> |
<%= link_to 'Back', trucks_path %>
