<% if logged_in? %>
<h2>Hello <%= current_user.login %> <span class="small">(not <%= link_to current_user.login, {:controller=>"sessions", :action=>"destroy"}, :method => :delete %>?)</span></h2>
<div id="userBox">
<%= link_to "My Trucks: #{@user.trucks.size}", trucks_path %>
<%= link_to "My Projects: #{@user.projects.size}", projects_path %>
</div>
<% else %>
<h2>Welcome</h2>
<% end %>
<div class="column">
    <h1>Search Trucks</h1>
    
    <% form_tag "/trucks", :method => :get do  %>
        <%= render :partial => '/models/model_select', :locals => {:search => 1,
                                                                   :make_id => -1,
                                                                   :model_id => -1} %>
        <%= hidden_field_tag "as", "0" %>
        <%= submit_tag "Search", :name => nil %>
        
    <% end %>
    <%= link_to "Advanced Search", :controller => :trucks, :as=>1, :make_id=>1 %>
</div>
<div class="column">
    <h1>Search Projects</h1>
</div>
<div class="column">
    <h1>For Sale</h1>
    <p>Don't have a truck, Eric Stortz?  Find one to buy.  
    that are for sale only.
    </p>
    <% form_tag "/trucks", :method => :get do  %>
        <label for="make">make</label>
        <select id="makes" name="makes"><%= options_for_select(@makes.sort) %></select>
        <label for="zip">zip code</label>
        <%= text_field_tag 'zip' %> 
        <%= hidden_field_tag "as", "1" %>
        <%= hidden_field_tag "for_sale", "1" %>
        <%= submit_tag "Search", :name => nil %>
        
    <% end %>
    <%= link_to "Advanced Search", :controller => :trucks, :as=>1, :make_id=>1 %>
</div>
<div style="clear:both;height:10px;"></div>