<% if logged_in? %>
<h2>Hello <%= current_user.login %> <span class="small">(not <%= link_to current_user.login, {:controller=>"sessions", :action=>"destroy"}, :method => :delete %>?)</span></h2>
<div id="userBox">
<%= link_to "My Trucks: #{@user.trucks.size}", trucks_path %>
<%= link_to "My Projects: #{@user.projects.size}", projects_path %>
</div>
<% else %>
<h2>Welcome</h2>
<% end %>
<div style="float:left; width:33%; text-align:left; margin:0 auto; ">
    <h1>Search Trucks</h1>
    
    <% form_tag "/trucks", :method => :get do  %>
        <%= render :partial => '/models/model_select', :locals => {:search => 1,
                                                                   :make_id => -1,
                                                                   :model_id => -1} %>
        <%= hidden_field_tag "as", "1" %>
        <%= submit_tag "Next", :name => nil %>
    <% end %>
</div>
<div style="float:left;width:33%;text-align:center; margin:0 auto;">
    <h1>Search Projects</h1>
</div>
<div style="float:left;width:33%; border-left: dashed 1px gray; padding-left:5px;">
    <h1>Other Shit</h1>
    <p>Not sure what the fuck is going to go here.  I want cool images for each of these divs.</p>
</div>
<div style="clear:both;height:10px;"></div>