<h1>Editing service_log</h1>

<%= error_messages_for :service_log %>

<% form_for(@service_log) do |f| %>
  <%= render :partial => 'form' %>
  <%= f.submit "Update" %>
<% end %>

<%= link_to 'Show', truck_service_log_path(:id => @service_log, :truck_id => @service_log.truck) %> |
<%= link_to 'Back', truck_service_logs_path(params[:truck_id]) %>
