<h1>Editing service_log</h1>

<%= error_messages_for :service_log %>

<% form_for(@service_log) do |f| %>
  <p>
    <b>Service log type</b><br />
    <%= f.text_field :service_log_type_id %>
  </p>

  <p>
    <b>Truck</b><br />
    <%= f.text_field :truck_id %>
  </p>

  <p>
    <b>Comments</b><br />
    <%= f.text_field :comments %>
  </p>

  <p>
    <b>Mileage</b><br />
    <%= f.text_field :mileage %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @service_log %> |
<%= link_to 'Back', service_logs_path %>
