<div>
  <h1><%= @truck.title %> Service Logs</h1>
<% if @service_logs.blank? %>
    <p>There are no service logs for this truck</p>
<% else %>
 <ul>               
<% for log in @service_logs %>
    <li>
         <%= link_to "#{log.service_log_type.name} (#{log.created_at})", truck_service_log_path(:id => log, :truck_id => log.truck) %>
        <small><%= link_to 'Edit', edit_truck_service_log_path(:id => log, :truck_id => log.truck) %></small>
        <small><%= link_to 'Destroy', truck_service_log_path(:id => log, :truck_id => log.truck), :confirm => 'Are you sure?', :method => :delete %></small>
    </li>
<% end %>
</ul>
<% end %>
</div>

<br />

<%= link_to 'New Service Log', new_truck_service_log_path(@truck) %>

