service log type
<div><%= @service_log.service_log_type.name %></div>

mileage
<div><%= @service_log.mileage %></div>

comments
<div><%= @service_log.comments %></div>
<%= link_to 'Edit', edit_service_log_path(@service_log) %> |
<%= link_to 'Back', truck_service_logs_path(@service_log.truck) %>
