<h1><%= @user.login %>'s Home</h1>
<% if !is_owner(@user.id) %>
<div id="user_profile">
    public profile. snooches.<br /><br />
</div>
<% end %>
<div id="user_trucks">
    <h3>Trucks</h3>
    <% if @user.vehicles.blank? %>
    <div>No trucks.</div>
    <% else %>
    <% @user.vehicles.each do |v| %>
    <div><%= h v.title %></div>
    <% end %>
    <% end %>
    <br />
</div>

<div id="user_projects">
    <h3>Projects</h3>
    <% if @top_projects.blank? %>
    <div>No projects.</div>
    <% else %>
    <% @top_projects.each do |p| %>
    <div><%= h p.title %></div>
    <% end %>
    <% end %>
    <br />
</div>

<div id="user_logs">
    <h3>Service Logs</h3>
    <% if @top_logs.blank? %>
    <div>No service logs.</div>
    <% else %>
    <% @top_logs.each do |l| %>
    <div><%= h l.service_log_type.name %> (<%= h l.created_at %>)</div>
    <% end %>
    <% end %>
    <br />
</div>

<div id="user_actions">
    <h3>Things for the User to Do:</h3>
    <ul>
        <li><strong>Truck Shit</strong></li>
            <ul>
                <li>add/edit truck</li>
                <li>update service logs</li>
                <li>add/edit project</li>
                <li>search trucks/projects</li>
                <li>saved searches</li>
            </ul>
        <li><strong>User Admin</strong></li>
            <ul>
                <li>edit profile</li>
                <li>view public profile</li>
                <li>update email address</li>
                <li>change password</li>
            </ul>
        <li><strong>User Services</strong></li>
            <ul>
                <li>Messaging</li>
            </ul>
    </ul>
    <br />
</div>

