<h1><%= @user.login %>'s Home</h1>
<% if !is_owner(@user.id) %>
   <h3>Public Profile</h3>
   <p>
    public profile. snooches.<br /><br />
    profile goes here for public/newsfeed for user<br /><br />
</p>
<% else %>

<div id="user_messages">
    <h3>New Messages</h3>
    <%= link_to 'Mailbox', {:controller=>'message', :action => 'list'} %>
    <% if @new_messages.blank? %>
        <p>No new messages.<br />
        <%= link_to 'Send one, maybe?', :controller => 'message', :action => 'new' %>
        </p>
    <% else %>
        <ol>
        <% @new_messages.each do |m| %>
            <li><%= link_to m.subject, {:controller=>'message', :action => "show", :id => m.id} %></li>
        <% end %>
        </ol>
    <% end %>
    <br />
</div>

<div id="newz">
    <h2>News</h2>
<% if @news_items.blank? %>
    <p>nothing to report</p>
<% else %>
    <ul>
        <% @news_items.each do |n| %>
            <li>
                <h3><%= n.title %></h3>
                <%= n.summary %><br />
                <%= link_to 'read on...', {:controller=>"news_item", :action => "show", :id => n.id} %> 
            </li>
        <% end %>
    </ul>
<% end %>
<br />
</div>

<div id="user_trucks">   
    <h3>Trucks</h3>
    <% if @user.vehicles.blank? %>
    <p>No trucks.</p>
    <p>So <%= link_to 'add one', :controller => 'vehicle', :action => 'new' %> already.
    
    <% else %>
        
        <% @user.vehicles.each do |v| %>
        <p><strong><%= h v.title %></strong> <%= link_to 'Go', :controller => 'vehicle', :action => 'show', :id => v.id %></p>
        <% end %>
        
    <% end %>
    <br />
    <strong><u>Projects</u></strong>
    <% if @top_projects.blank? %>
    <p>No projects.</p>
    <% else %>
        <% @top_projects.each do |p| %>
        <p><strong><%= h p.title %></strong></p>
        <% end %>
    <% end %>
    <br />
</div>

<!--
<div id="user_actions">
    <h3>Things for the User to Do:</h3>
    <ul>
        <li><strong>Truck </strong></li>
            <ul>
                <li>add/edit truck</li>
                <li>update service logs</li>
                <li>add/edit project</li>
                <li>search trucks/projects</li>
                <li>saved searches</li>
            </ul>
        <li><strong>User Admin</strong></li>
            <ul>
                <li>edit profile</li>
                <li>view public profile</li>
                <li>update email address</li>
                <li>change password</li>
            </ul>
        <li><strong>User Services</strong></li>
            <ul>
                <li>Messaging</li>
            </ul>
    </ul>
    <br />
</div>
-->
<% end %>
