<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /> 
  <meta http-equiv="Content-Language" content="en-us" /> 
  <title>Project Truck</title>
  <%= stylesheet_link_tag "nustyle" %> 
  <%= javascript_include_tag :defaults %>
</head>

<body>
  <div id="container">
    <div id="header">
        <span class="right">
     <% if is_loggedIn %>
     hello <%= session[:user_login] %> | <%= link_to 'Logout', :controller => 'user', :action => 'logout' %>
    <% end %>
    </span>
     <a href="/"><img src="/images/logo.jpg" alt="Project Truck Logo"/></a>
     
     <br />
      <hr />
    </div><!-- end header -->

    <div id="left">
    <% if is_loggedIn %>
      <h3>Menu Items</h3>

   
        <p><%= link_to 'User Home', :controller => 'user', :action =>'home'%><br />
        <%= link_to 'Inbox', :controller => 'message', :action =>'list'%></p>
    <% end %>

    </div><!-- end left division -->

    <div id="main">
        <%= yield -%> 
    </div>

    <div id="footer">
      <hr />

      <span class="left"><a href=
      "#">sitemap</a> | <a href=
      "#">corporate</a>
      </span>

      <span class="right">&copy; Project Truck</span>

      <p>&nbsp;</p>
    </div><!-- end footer -->
  </div><!-- end container -->
</body>
</html>
