<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /> 
  <meta http-equiv="Content-Language" content="en-us" /> 
  <title>Project Truck</title>
  <%= stylesheet_link_tag "style" %> 
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "tabs" %>
</head>

<body>
  <div id="headContainer">
  <div id="header">
        <span class="right">
     <% if logged_in? %>
     hello <%= current_user.login %> | <%= link_to 'Logout', {:controller=>"sessions", :action=>"destroy"}, :method => :delete %>
    <br />
    <%= link_to "#{current_user.login}  Home", :controller => 'users', :action =>'index'%>  
    <% end %>
    </span>
     <a href="/"><img src="/images/logo_mobile.png" d-link="" alt="Project Truck Logo" longdesc="Project Truck Neat Truck Logo" /></a>
     <h1>Project Truck .Net</h1>
  
    </div><!-- end header -->
    </div>
  <div id="container">
    


    <div id="main">
        <%= yield -%> 
    </div>

    <div id="footer">
      <hr />

      <span class="left"><a href=
      "#">sitemap</a> | <a href=
      "#">corporate</a>
      </span>

      <span class="right">&copy; Project Truck</span>

      <p>&nbsp;</p>
    </div><!-- end footer -->
  </div><!-- end container -->
</body>
</html>
